.error-400-container {
    background-color: tomato;
    width: 80%;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 2px 2px 5px tomato;
    margin: 5rem auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.error-400-container h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.error-400-container p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.error-400-container .home-btn {
    width: fit-content;
    background-color: #482aa9;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    margin: 1rem 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}