.single-post {
    flex: 0 1 calc((100% - 1rem) / 3);
    padding: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(-315deg, #0754a1 80%, #ff1eb4);
    padding: 3rem;
    color: #fff;
    border-radius: 6px;
    height: 500px;
    max-height: 500px;
    opacity: 0.95;
    transition: 0.3s;
}

.single-post:hover {
    opacity: 1;
}

.single-post img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.single-post h1 a {
    display: inline-block;
    margin: 1rem 0;
}

@media (min-width:320px) and (max-width: 479px) {
    .single-post {
        flex: 0 1 100%;
        padding: 1rem;
    }
}

@media (min-width:480px) and (max-width: 599px) {
    .single-post {
        flex: 0 1 100%;
    }
}


@media (min-width:600px) and (max-width: 800px) {
    .single-post {
        flex: 0 1 100%;
    }
}

@media (min-width:801px) and (max-width: 1024px) {
    .single-post {
        flex: 1 1 0;
        max-width: calc((100% - 1rem) / 2);
        /* 1rem for the gap between flex-items */
    }
}

@media (min-width:1025px) {
    .single-post {
        flex: 1 1 0;
        max-width: calc((100% - 2rem) / 3);
    }
}