{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "css/blog/400.css" %}">
{% endblock css_files %}


{% block page_title %}
404 Error
{% endblock page_title %}

{% block main-content %}
    <div class="error-400-container">
        <h1>Error <span>400</span>: Bad Request, Dude!</h1>
        <p>You Entered A Wrong URL, Your URL Isn't Meanningful</p>
    </div>
    <a href="{% url "home" %}" id="home-btn">Home</a>
{% endblock main-content %}
