{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "css/blog/profile.css" %}">
{% endblock css_files %}


{% block page_title %}
{{ user.first_name }} {{ user.last_name }}'s Profile
{% endblock page_title %}


{% block main-header %}{% include "blog/includes/header.html" %}{% endblock main-header %}

    {% block main-content %}
    <h1 id="main-title">Sign Up</h1>
     <div class="form-control">
         <form action="{% url "profile" %}" class="form-control" method="POST">
            <div class="top-of-form">
                <h1 class="greeting-user">Hello, {{ user_profile_form.first_name.value }}.</h1>
                <a id="change-password-btn" href="{% url "change-password" %}">Change Password</a>
            </div>
            {% csrf_token %}
            {% comment %} Profile Form {% endcomment %}
            {% include "blog/includes/form-snippet.html" with form=user_profile_form %}
            <button id="update-btn">Update</button>
        </form>
        <a id="logout-btn" href="{% url "logout" %}">Logout</a>
     </div>
    {% endblock main-content %}

{% block main-footer %}{% include "blog/includes/footer.html" %}{% endblock main-footer %}