#main-title {
    margin: 2rem auto;
    width: 50%;
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
    text-align: center;
    border-bottom: 5px solid #5f35df;
}

.top-of-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    margin-bottom: 2.5rem;
}

.top-of-form .greeting-user {
    background-image: linear-gradient(215deg, #2a1c5a, #7858e2);
    padding: 1rem;
    border-radius: 6px;
    user-select: none;
    color: #fff;
    font-size: 1.7rem;
}

.form-control form {
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 1rem;
    width: 50%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #333;
    padding: 1rem 2rem;
}

#change-password-btn {
    width: 100px;
    background-color: #482aa9;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    margin: 1rem 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

#change-password-btn:hover,
#change-password-btn:active {
    background-color: #5f35df;
}

#logout-btn,
#change-password-btn {
    width: fit-content;
    background-color: #ff6347;
    color: #fff;
    padding: 1rem 5rem;
    border-radius: 4px;
    margin: 3rem auto;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

#change-password-btn {
    align-self: center;
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
    margin: 0;
}

#logout-btn:hover,
#logout-btn:active,
#change-password-btn:hover,
#change-password-btn:active {
    background-color: #fa4d2e;
    box-shadow: 0px 2px 5px #9b5d52;
}

.errors label {
    color: #ff6347;
}

.errors input {
    background-color: #ff6347;
    color: #fff;
    margin-bottom: 1rem;
}

.errors input:focus {
    outline: 1px solid dodgerblue;
}

.errors .errorlist li {
    color: #ff6347;
}

p.error-message {
    color: #fff;
    background-color: #ff6347;
    font-size: 1.3rem;
    padding: 1rem 5rem;
    width: 300px;
    margin: 2.5rem;
    border-radius: 6px;
    box-shadow: 0px 2px 5px #fa4d2e;
}


@media (min-width:320px) and (max-width: 479px) {
    #main-title {
        font-size: 1.5rem;
        width: 90%;
    }

    .form-control form {
        width: 90%;
    }

    #change-password-btn {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}

@media (min-width:480px) and (max-width: 599px) {
    #main-title {
        font-size: 1.5rem;
        width: 90%;
    }

    .form-control form {
        width: 90%;
    }

    #change-password-btn {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}

@media (min-width:600px) and (max-width: 800px) {
    #main-title {
        font-size: 1.5rem;
        width: 90%;
    }

    .form-control form {
        width: 90%;
    }

    #change-password-btn {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}

@media (min-width:801px) and (max-width: 1024px) {
    #main-title {
        font-size: 1.5rem;
    }

    #change-password-btn {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}

@media (min-width:1025px) and (max-width: 1280px) {
    #main-title {
        font-size: 1.5rem;
    }

    #change-password-btn {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}