#main-title {
    margin: 2rem auto;
    width: 50%;
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
    text-align: center;
    border-bottom: 5px solid #5f35df;
}

.form-control form {
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 1rem;
    width: 50%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #333;
    padding: 1rem 2rem;
}

#login-btn {
    width: fit-content;
    background-color: #482aa9;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    margin: 1rem 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

#login-btn:hover,
#login-btn:active {
    background-color: #5f35df;
}

@media (min-width:320px) and (max-width: 479px) {
    #main-title {
        font-size: 1.5rem;
        width: 90%;
    }

    .form-control form {
        width: 90%;
    }

    #login-btn {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}

@media (min-width:480px) and (max-width: 599px) {
    #main-title {
        font-size: 1.5rem;
        width: 90%;
    }

    .form-control form {
        width: 90%;
    }

    #login-btn {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}

@media (min-width:600px) and (max-width: 800px) {
    #main-title {
        font-size: 1.5rem;
        width: 90%;
    }

    .form-control form {
        width: 90%;
    }

    #login-btn {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}

@media (min-width:801px) and (max-width: 1024px) {
    #main-title {
        font-size: 1.5rem;
    }

    #login-btn {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}

@media (min-width:1025px) and (max-width: 1280px) {
    #main-title {
        font-size: 1.5rem;
    }

    #login-btn {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}